<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SUPPORTHUB_DATABASE_URL" value="postgresql+psycopg://postgres:259487123@127.0.0.1:5432/supporthub" />
    <add key="SUPPORTHUB_MQTT_HOST" value="10.206.9.201" />
    <add key="SUPPORTHUB_MQTT_PORT" value="1883" />
    <add key="SUPPORTHUB_MQTT_TOPIC" value="power/pzem" />
    <add key="SUPPORTHUB_MQTT_CLIENT_ID" value="SUPPORTHUB-IOT-MONITOR" />
    <add key="SUPPORTHUB_SECRET_FILE" value="E:\Data\Web\supporthub\secret_key" />
    <add key="SUPPORTHUB_INSTALL_ON_START" value="false" />
    <add key="SUPPORTHUB_AUTO_RESTART" value="true" />
    <add key="SUPPORTHUB_RESTART_DELAY_SECONDS" value="5" />
    <add key="SUPPORTHUB_DB_POOL_SIZE" value="20" />
    <add key="SUPPORTHUB_DB_MAX_OVERFLOW" value="40" />
    <add key="SUPPORTHUB_DB_POOL_TIMEOUT" value="30" />
    <add key="SUPPORTHUB_DB_POOL_RECYCLE" value="1800" />
    <add key="SUPPORTHUB_RUN_DB_MAINTENANCE_ON_STARTUP" value="false" />
  </appSettings>

  <system.webServer>
    <rewrite>
      <!-- Outbound: rewrite Location from http://127.0.0.1:8888/... to https://{HTTP_HOST}/... -->
      <outboundRules>
        <preConditions>
          <preCondition name="IsRedirect">
            <add input="{RESPONSE_STATUS}" pattern="3\d\d" />
          </preCondition>
        </preConditions>
      </outboundRules>
      <rules>
        <rule name="ReverseProxyInboundRule1" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:8888/{R:1}" />
        </rule>
      </rules>
    </rewrite>

    <!-- Enable ARR proxy and in IIS > Server Proxy Settings enable:
         - Enable proxy
         - Reverse rewrite host in response headers -->

    <!-- Pass through app errors and do not replace with IIS default error page -->
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
