<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <rewrite>

      <!-- Outbound: แก้ Location จาก http://127.0.0.1:8888/... ให้เป็น https://{HTTP_HOST}/... -->
      <outboundRules>
        <preConditions>
          <preCondition name="IsRedirect">
            <add input="{RESPONSE_STATUS}" pattern="3\d\d" />
          </preCondition>
        </preConditions>
      </outboundRules>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://127.0.0.1:8888/{R:1}" />
                </rule>
            </rules>
    </rewrite>

    <!-- เปิด ARR proxy (และใน IIS > Server Proxy Settings ต้องติ๊ก Enable proxy + Reverse rewrite host in response headers) -->

    <!-- ส่งผ่าน error ของแอป ไม่ให้ IIS กลบ -->
    <httpErrors existingResponse="PassThrough" />

  </system.webServer>
</configuration>
